<po-page [p-title]="pageTitle">
  <po-page-content>
    <form [formGroup]="form">
      <!-- <div class="po-row">
        <po-input
          class="po-md-12"
          p-label="Cliente ID"
          p-icon="po-icon-user"
          p-required="true"
          formControlName="clienteId"
          [p-error]="form.get('clienteId')?.hasError('required') ? 'Campo obrigatório' : ''">
        </po-input>
      </div> -->

      <div class="po-row po-mt-2">
        <div class="po-md-12">
          <h3>Edição de quantidade do produto no pedido:</h3>
        </div>
      </div>

      <div formArrayName="itens">
        <div *ngFor="let item of itens.controls; let i = index" [formGroupName]="i" class="po-row po-mb-3">
        <po-input
          class="po-md-6"
          p-label="Produto ID"
          p-icon="an an-apple-logo"
          p-required="true"
          [formControl]="getControl(item, 'produtoId')"
          [p-error]="getControl(item, 'produtoId')?.hasError('required') ? 'Campo obrigatório' : ''">
        </po-input>

        <po-input
          class="po-md-4"
          p-label="Quantidade"
          p-required="true"
          p-icon="an an-archive"
          [formControl]="getControl(item, 'quantidade')"
          [p-error]="getControl(item, 'quantidade')?.hasError('required') ? 'Campo obrigatório' : ''">
        </po-input>          
        <div class="po-md-2" style="display: flex; align-items: flex-end">
            <!-- <po-button
              p-label="Remover"
              p-kind="danger"
              p-icon="po-icon-delete"
              p-size="small"
              [p-disabled]="itens.length === 1"
              (p-click)="removerItem(i)">
            </po-button> -->
          </div>
        </div>
      </div>

      <div class="po-row po-mt-2">
        <div class="po-md-12">
          <!-- <po-button
            p-label="Adicionar Item"
            p-kind="secondary"
            p-icon="po-icon-plus"
            (p-click)="adicionarItem()">
          </po-button> -->
        </div>
      </div>

      <div class="po-row po-mt-3">
        <div class="po-md-12">
          <po-button
            p-label="Salvar"
            p-kind="primary"
            p-icon="po-icon-ok"
            
            [p-disabled]="form.invalid"
            (p-click)="salvar()">
          </po-button>

          <po-button
            p-label="Cancelar"
            p-kind="secondary"
            p-icon="po-icon-close"
            (p-click)="cancelar()">
          </po-button>
        </div>
      </div>
    </form>
  </po-page-content>
</po-page>
