<po-page [p-title]="pageTitle">
  <po-page-content>
    <form [formGroup]="form">
      <div class="po-row">
        <po-input
          class="po-md-6"
          p-label="Nome do produto"
          p-icon="an an-apple-logo"
          p-required="true"
          formControlName="nome"
          [p-error]="form.get('nome')?.hasError('required') ? 'Campo obrigatório' : ''">
        </po-input>

        <po-input
          class="po-md-6"
          p-label="Descrição do produto"
          p-icon="po-icon-document"
          p-required="true"
          formControlName="descricao"
          [p-error]="form.get('descricao')?.hasError('required') ? 'Campo obrigatório' : ''">
        </po-input>
      </div>

      <div class="po-row">
        <po-input
          class="po-md-6"
          p-label="Preço (exemplo: R$ 10,00)"
          p-icon="po-icon-money"
          p-required="true"
          formControlName="preco"
          [p-error]="form.get('preco')?.hasError('required') ? 'Campo obrigatório' : ''">
        </po-input>

        <po-input
          class="po-md-6"
          p-label="Quantidade em estoque"
          p-icon="an an-archive"
          p-required="true"
          formControlName="estoque"
          [p-error]="form.get('estoque')?.hasError('required') ? 'Campo obrigatório' : ''">
        </po-input>
      </div>

      <div class="po-row po-mt-2">
        <div class="po-md-12">
          <po-button
            p-label="Salvar"
            p-kind="primary"
            p-icon="po-icon-ok"
            [p-loading]="isLoading"
            [p-disabled]="form.invalid"
            (p-click)="salvar()">
          </po-button>

          <po-button
            p-label="Cancelar"
            p-kind="secondary"
            p-icon="po-icon-close"
            (p-click)="cancelar()">
          </po-button>
        </div>
      </div>
    </form>
  </po-page-content>
</po-page>
