<po-page p-title="Pedidos">
  <po-page-content class="po-row">
    <div class="po-md-12 po-lg-12">
      <po-button 
        p-label="Novo Pedido" 
        p-kind="primary"
        p-icon="po-icon-plus"
        [routerLink]="['/pedidos/novo']">
      </po-button>
    </div>

    <div class="po-md-12 po-lg-12 po-mt-2">
      <po-table
        [p-items]="pedidos"
        [p-columns]="columns"
        [p-loading]="isLoading"
        p-striped="true"
        p-sort="true">
        
        <ng-template p-table-row-template let-rowItem>
          <po-table-row [p-item]="rowItem">
            <po-table-cell>
              <po-button
                p-label="Editar"
                p-kind="secondary"
                p-size="small"
                p-icon="po-icon-edit"
                [routerLink]="['/pedidos', rowItem.id]">
              </po-button>
              <po-button
                p-label="Deletar"
                p-kind="danger"
                p-size="small"
                p-icon="po-icon-delete"
                (p-click)="abrirModalDelecao(rowItem)">
              </po-button>
            </po-table-cell>
          </po-table-row>
        </ng-template>
      </po-table>
    </div>
  </po-page-content>
</po-page>

<!-- Modal de Confirmação de Deleção -->
<po-modal
  #modalDelecao
  p-title="Confirmar Exclusão"
  [p-primary-action]="primaryAction"
  [p-secondary-action]="secondaryAction">
  <p *ngIf="pedidoSelecionado">
    Tem certeza que deseja deletar o pedido <strong>#{{ pedidoSelecionado.id }}</strong> do cliente <strong>{{ pedidoSelecionado.clienteId }}</strong>?
  </p>
</po-modal>
